Repository Ciart/Pagomoa, pull requests merged in 2025-05, with the labels that each got.

#291 Feature/quest available icon
  Assets/Prefabs/Tent.prefab
  Assets/Prefabs/UIs/UIContainer/QuestCompleteIcon.prefab
  Assets/RefactoringManagerSystem/QuestManager.cs
  Assets/RefactoringManagerSystem/UIManager.cs
  Assets/Resources/Entities/BrokenTent.prefab
  Assets/Resources/Entities/Moa.prefab
  Assets/Scripts/Logger/QuestCompleteIcon.cs
  Assets/Scripts/Systems/Dialogue/EntityDialogue.cs
  Assets/Scripts/Systems/InteractableObject.cs
  Assets/Sprites/UIs/QuestAvailable.aseprite
  Assets/Sprites/UIs/QuestAvailable.aseprite.meta
  Assets/Sprites/UIs/QuestCompletable.aseprite
  Assets/Sprites/UIs/QuestCompletable.aseprite.meta
  Assets/UIContainer.cs
Labels: enhancement

#296 Feature/live chunk
  Assets/Scripts/Entities/EntityController.cs
  Assets/Scripts/Entities/Players/PlayerController.cs
  Assets/Scripts/Worlds/Chunk.cs
  Assets/Scripts/Worlds/LevelRenderer.cs
Labels: enhancement

#299 Feature/sync system to title
  Assets/DataBase.cs
  Assets/Prefabs/UIs/Title.meta
  Assets/Prefabs/UIs/Title/LoopBackGroundDown.prefab
  Assets/Prefabs/UIs/Title/LoopBackGroundDown.prefab.meta
  Assets/Prefabs/UIs/Title/LoopBackGroundUp.prefab
  Assets/Prefabs/UIs/Title/LoopBackGroundUp.prefab.meta
  Assets/RefactoringManagerSystem/DialogueManager.cs
  Assets/RefactoringManagerSystem/EntityManager.cs
  Assets/RefactoringManagerSystem/GameSystem.cs
  Assets/RefactoringManagerSystem/Manager.cs
  Assets/RefactoringManagerSystem/UIManager.cs
  Assets/Scenes/NewTitleScene.unity
  Assets/Scenes/WorldScene.unity
  Assets/Scripts/CutScenes/Intro.cs
  Assets/Scripts/OptionMenu.cs
  Assets/Scripts/Sounds/AudioMixerController.cs
  Assets/Scripts/Sounds/ImproveOption.prefab
  Assets/Scripts/Sounds/SoundManager.cs
  Assets/Scripts/Sounds/WorldMusic.asset
  Assets/Scripts/Systems/SingletonMonoBehaviour.cs
  Assets/Scripts/UI/DialogueUI.cs
  Assets/Scripts/UI/EscOptionUI.cs
  Assets/Scripts/UI/FadeUI.cs
  Assets/Scripts/UI/ResolutionOption.cs
  Assets/Scripts/UI/Title/InfiniteScrollBackground.cs
  Assets/Scripts/UI/Title/TitleController.cs
  Assets/Scripts/UI/TitleUI.cs
  Assets/Scripts/Worlds/LevelRenderer.cs
  Assets/Sounds/Master.mixer
  Assets/Timelines/CutSceneController.cs
  Assets/Timelines/CutSceneController.prefab
  Assets/Timelines/IntroTimeline/IntroTimeline.playable
  Assets/Timelines/Shopkeeper.cs
  ProjectSettings/ProjectSettings.asset
Labels: enhancement, refactor

#301 feat:튜토리얼 퀘스트 1, 2 이후에 상점 주인 컷씬 작동하도록 변경
  Assets/Data/CutSceneTriggers/ShopKeeperTrigger.prefab
  Assets/Prefabs/UI.prefab
  Assets/RefactoringManagerSystem/UIManager.cs
  Assets/Resources/Quests/Tutorial 1.asset
  Assets/Resources/Quests/Tutorial 2.asset
  Assets/Resources/Quests/Tutorial 3.asset
  Assets/Resources/Quests/Tutorial4.asset
  Assets/Timelines/CutSceneTrigger.cs
  Assets/Timelines/ShopkeeperTrigger.cs
Labels: enhancement

#300 Bug max inventory function
  Assets/Prefabs/Shopkeeper.prefab
  Assets/Prefabs/Shopkeeper.prefab.meta
  Assets/Prefabs/UIs/UIContainer/ShopUI.prefab
  Assets/RefactoringManagerSystem/EntityManager.cs
  Assets/Scenes/NewTitleScene.unity
  Assets/Scenes/WorldScene.unity
  Assets/Scripts/Entities/DesertPotController.cs
  Assets/Scripts/Entities/EntityController.cs
  Assets/Scripts/Entities/Monsters/MonsterController.cs
  Assets/Scripts/Entities/Players/DrillController.cs
  Assets/Scripts/Events/EntityEvent.cs
  Assets/Scripts/Systems/Collector.cs
  Assets/Scripts/Systems/Dialogue/ShopChat.cs
  Assets/Scripts/Systems/Inventory/BookUI.cs
  Assets/Scripts/Systems/Inventory/Inventory.cs
  Assets/Scripts/Systems/Inventory/ShopUI.cs
  Assets/Scripts/Terminal/Commands/ItemCommand.cs
  Assets/Sprites/UIs/MoMoImage.png
  Assets/Sprites/UIs/MoMoImage.png.meta
Labels: bug

#304 Feat snake entity
  Assets/Animations/Golem/Golem.controller
  Assets/Animations/Snake.controller
  Assets/Animations/Snake.meta
  Assets/Animations/Snake/Snake.controller
  Assets/Animations/Snake/Snake.controller.meta
  Assets/Data/CutSceneTriggers/ShopKeeperTrigger.prefab
  Assets/Prefabs/UIs/TitleUI.prefab
  Assets/RefactoringManagerSystem/EntityManager.cs
  Assets/Resources/Entities/Moa.prefab
  Assets/Resources/Entities/Snake.prefab
  Assets/Resources/Quests/Tutorial 2.asset
  Assets/Scenes/WorldScene.unity
  Assets/Scripts/Entities/Monsters/MonsterController.cs
  Assets/Scripts/Entities/Monsters/NightMonsterSpawner.cs
  Assets/Scripts/Entities/Monsters/SnakeController.cs
  Assets/Scripts/Systems/Cameras/CameraConfiner.cs
  Assets/Scripts/UI/Title/UIAnimationBtn.cs
  Assets/Scripts/UI/TitleUI.cs
  Assets/Sprites/Monsters/Snake/Snake.aseprite
  Assets/Sprites/Title/TitleText1.controller
  Assets/Timelines/ShopkeeperTrigger.cs
Labels: enhancement

#308 Fix/303
  Assets/RefactoringManagerSystem/QuestManager.cs
  Assets/Scripts/Entities/DesertPotController.cs
  Assets/Scripts/Worlds/Level.cs
  Assets/Scripts/Worlds/LevelRenderer.cs
Labels: bug

#310 feat: 모아 움직임 진행 방향에 따른 FlipX #305
  Assets/Scripts/MoaInteraction.cs
Labels: enhancement

#311 Feture/309
  Assets/RefactoringManagerSystem/EntityManager.cs
  Assets/Scripts/Items/OldItem.cs
  Assets/Scripts/Systems/Save/DataManager.cs
  Assets/Scripts/Systems/Save/OldSaveManager.cs
  Assets/Scripts/Systems/Save/SaveSystem.cs
  Assets/Scripts/UI/TitleUI.cs
  Assets/Scripts/Worlds/Level.cs
Labels: enhancement

#315 bug: Tent 게임 오브젝트에 SpawnPoint 컴포넌트 추가 #305
  Assets/Prefabs/Tent.prefab
  Assets/Scripts/Entities/SpawnPoint.cs
Labels: bug

#316 Fix/inventory hover info
  Assets/Scripts/Events/InventoryEvent.cs
  Assets/Scripts/Logger/ProcessScripts/Quest.cs
  Assets/Scripts/Systems/Inventory/Inventory.cs
Labels: bug

#322 bug: 퀘스트 생성자 버그로 로드 이벤트로 HasItem 퀘스트 제어
  Assets/Scripts/Logger/ProcessScripts/Quest.cs
Labels: bug
