Repository Ciart/Pagomoa, pull requests merged in 2025-04, with the labels that each got.

#269 fix: 쉐이더 수정
  Assets/Shaders/Outline.shadergraph
Labels: bug

#267 채굴 플레이 경험 개선
  Assets/RefactoringManagerSystem/GameSystem.cs
  Assets/RefactoringManagerSystem/TimeManager.cs
  Assets/Scripts/Entities/Players/PlayerInput.cs
  Assets/Scripts/PlatformController.cs
  Assets/Scripts/UI/DaySummaryUI.cs
Labels: enhancement

#278 fix / 파티클 스폰 위치 수정
  Assets/Scripts/Entities/EntityController.cs
Labels: bug

#286 [Feat] 인게임 콘솔 일시정지
  Assets/Scripts/Terminal/Terminal.cs
Labels: enhancement

#282 Fix/quest-portrait
  Assets/RefactoringManagerSystem/QuestManager.cs
  Assets/Resources/Entities.json
  Assets/Resources/Entities/BrokenTent.prefab
  Assets/Resources/Entities/BrokenTent.prefab.meta
  Assets/Scripts/Entities/Entity.cs
  Assets/Scripts/Logger/ForEditorBaseScripts/QuestData.cs
  Assets/Scripts/Logger/ProcessScripts/Quest.cs
  Assets/Scripts/Systems/Dialogue/EntityDialogue.cs
  Assets/Scripts/Systems/ResourceSystem.cs
Labels: bug

#277 Feat/resolution
  Assets/Prefabs/UIs/EscUI.prefab
  Assets/Prefabs/UIs/UIContainer/EscUI.prefab
  Assets/Prefabs/UIs/UIContainer/EscUI.prefab.meta
  Assets/Prefabs/UIs/UIContainer/ShopUI.prefab
  Assets/RefactoringManagerSystem/DialogueManager.cs
  Assets/RefactoringManagerSystem/TimeManager.cs
  Assets/RefactoringManagerSystem/UIManager.cs
  Assets/Resources/PerformanceTestRunInfo.json
  Assets/Resources/PerformanceTestRunInfo.json.meta
  Assets/Resources/PerformanceTestRunSettings.json
  Assets/Resources/PerformanceTestRunSettings.json.meta
  Assets/Scenes/NewTitleScene.unity
  Assets/Scenes/WorldScene.unity
  Assets/Scripts/Entities/Players/PlayerInput.cs
  Assets/Scripts/OptionMenu.cs
  Assets/Scripts/OptionMenu.cs.meta
  Assets/Scripts/Sounds/AudioMixerController.cs
  Assets/Scripts/Sounds/ImproveOption.prefab
  Assets/Scripts/Systems/Inventory/ShopUI.cs
  Assets/Scripts/UI/EscOptionUI.cs
  Assets/Scripts/UI/EscOptionUI.cs.meta
  Assets/Scripts/UI/ScaleUI.cs
  Assets/Scripts/UI/ScaleUI.cs.meta
  Assets/Scripts/UI/Title/OptionDB.cs
  Assets/Scripts/UI/Title/OptionData.cs
  Assets/Scripts/UI/Title/OptionData.cs.meta
  Assets/Scripts/UI/Title/TitleController.cs
  Assets/Scripts/change.cs
  Assets/Settings/UniversalRP.asset
  Assets/Timelines/CutScene.cs
  Assets/UIContainer.cs
  Assets/UniversalRenderPipelineGlobalSettings.asset
Labels: bug, enhancement

#279 Feature/0-day-tutorial
  Assets/Data/Dialogues/StoryJson/Tent.ink
  Assets/Data/Dialogues/StoryJson/Tent.json
  Assets/RefactoringManagerSystem/DialogueManager.cs
  Assets/RefactoringManagerSystem/QuestManager.cs
  Assets/RefactoringManagerSystem/TimeManager.cs
  Assets/Resources/Entities/Player.prefab
  Assets/Scenes/WorldScene.unity
  Assets/Scripts/Entities/Players/PlayerController.cs
  Assets/Scripts/Environments/SkyLightConverter.cs
  Assets/Scripts/Systems/Dialogue/Commands/SleepDialogueCommand.cs
  Assets/Scripts/Systems/Inventory/Inventory.cs
  Assets/Scripts/Systems/Save/SaveData.cs
  Assets/Scripts/UI/DialogueUI.cs
Labels: enhancement

#290 Feature/chunk performance
  Assets/DataBase.cs
  Assets/Prefabs/Managers/WorldRenderer.prefab
  Assets/Prefabs/Managers/WorldRenderer.prefab.meta
  Assets/RefactoringManagerSystem/EventManager.cs
  Assets/RefactoringManagerSystem/WorldManager.cs
  Assets/Scenes/WorldScene.unity
  Assets/Scripts/Systems/Save/SaveSystem.cs
  Assets/Scripts/Terminal/Commands/EntityCommand.cs
  Assets/Scripts/Terminal/Commands/EntityCommand.cs.meta
  Assets/Scripts/Worlds/Chunk.cs
  Assets/Scripts/Worlds/Level.cs
  Assets/Scripts/Worlds/LevelRenderer.cs
  Assets/Scripts/Worlds/WorldBounds.cs
  Assets/Scripts/Worlds/WorldRenderer.cs
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/EditorSettings.asset
  ProjectSettings/ProjectSettings.asset
Labels: enhancement

#295 fix: 컷씬 일시정지 #294
  Assets/CutSceneController.cs
  Assets/RefactoringManagerSystem/TimeManager.cs
  Assets/RefactoringManagerSystem/UIManager.cs
  Assets/Scenes/WorldScene.unity
  Assets/Scripts/Events/TimeEvent.cs
  Assets/Scripts/Events/TimeEvent.cs.meta
Labels: bug
